body {
    background-color:#ECF2FF;
}

hr {
    border-style:none;
    border-top-style:dotted;
    border-color: rgb(233, 221, 221);
    border-width:5px;
    width: 3%;
}

h1 {
    color: #42c5c5;
}
h3 {
    color: #66BFBF;
}